.rqCard {
    position: relative;
    display: flex;
    flex-direction: row;
    /* Default to row for larger screens */
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #dee2e6;
    border-radius: 0.50rem;
    box-shadow: 0 0.525rem 0.50rem rgba(0, 0, 0, 0.075);
}

@media (max-width: 768px) {

    /* Adjust for smaller screens */
    .rqCard {
        flex-direction: column;
        /* Switch to column layout */
        align-items: center;
        /* Optional: center content */
    }

    .rqCard>div {
        margin: 10px 0;
        /* Add spacing between children */
    }
}