/* The switch container – adjust dimensions as necessary */
.switch {
	position: relative;
	display: inline-block;
	width: 3em;
	height: 1.8em;
  }
  
  /* Hide the default checkbox */
  .switch input {
	display: none;
  }
  
  /* The slider (background) */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 1em; /* Rounded background */
	box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  }
  
  /* The circular toggle button */
  .slider:before {
	position: absolute;
	content: "";
	height: 1.4em;     /* Equal height and width for a circle */
	width: 1.4em;
	border-radius: 50%;
	left: 0.2em;
	bottom: 0.2em;
	background-color: white;
	transition: 0.4s;
  }
  
  /* When the input is checked, change background and slide the circle */
  .switch input:checked + .slider {
	background-color: #018a3d;
  }
  
  .switch input:checked + .slider:before {
	transform: translateX(1.3em); /* Adjust this value to match your container's width */
  }
  